#map {
    width: 500px;
    height: 380px;
    float: none;
    margin: 0 auto;
}


.test-row div{
   
    background-color: aqua;
    border-right: solid 1px white;
    border-top: solid 1px white; 
}

.contanier-fluid div{
    background-color: beige;
}

table, form {
    text-align: left;
}

.my-form {
    max-width: 300px;
    margin: 15px auto;
    box-shadow: 0 0 5px blue;
    padding: 15px;
    border-radius: 2px;
}

.form-div {
    float: none;
}